<!DOCTYPE html>
<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
  <link rel="icon" type="image/png" href="https://img.icons8.com/clouds/100/000000/google-web-search.png">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <script>
    $(function() {
      $('a#test').bind('click', function() {
        $('#crypto_table').load('/home');
        alert('Api data loaded')
      });
    });
  </script>
</head>

<body>
  <header class="header">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <h2 class="m-auto text-info">CryptoFetch</h2>
    </nav>
  </header>

  <div class="box col-md-10 m-auto">
    <table id="crypto_table" class="table">
      <thead>
        <tr class="table-active">
          <th class="text-center" tabindex="0">#</th>
          <th class="text-left" tabindex="1">Name</th>
          <th tabindex="2">Market Cap</th>
          <th tabindex="3">Price</th>
          <th tabindex="4">Volume (24h)</th>
          <th tabindex="5">Circulatign Supply</th>
          <th tabindex="6">Change (24h)</th>
          <th tabindex="7">Change (7d)</th>
          <th class="text-center" tabindex="8">Price Graph(7d)</th>
        </tr>
      </thead>
      {% for crypto in cryptos %}
      <tbody>
        <tr class="table-active">
          <td class="text-center">{{ crypto.id }}</td>
          <td class="text-left">
            <img class="logo" src="../static/imgs/{{ crypto.crypto_id }}.png"></img>
            <span>{{ crypto.name }}</span>
          </td>
          <td>${{ crypto.market_cap }}</td>
          <td class="text-info">${{ crypto.price }}</td>
          <td class="text-info">${{ crypto.volume_24h }}</td>
          <td>{{ crypto.circulating_supply }} {{ crypto.symbol }}</td>
          {% if crypto.percent_change_24h >= 0 %}
          <td class="text-success">{{ crypto.percent_change_24h }}%</td>
          {% else %}
          <td class="text-danger">{{ crypto.percent_change_24h }}%</td>
          {% endif %}
          {% if crypto.percent_change_7d >= 0 %}
          <td class="text-success">{{ crypto.percent_change_7d }}%</td>
          {% else %}
          <td class="text-danger">{{ crypto.percent_change_7d }}%</td>
          {% endif %}
          <td class="text-center">
            <img src="https://s2.coinmarketcap.com/generated/sparklines/web/7d/usd/{{ crypto.crypto_id }}.png"></img>
          </td>
        </tr>
      </tbody>
      {% endfor %}
    </table>
    <div class="text-center">
      <a id="test"><button type="button" class="btn btn-big btn-outline-info">Update</button></a>
    </div>
  </div>
  
</body>

  <!-- Popper.js, then Bootstrap JS -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</html>